@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    font-family: 'Josefin Sans', sans-serif;  
    background-color: rgba(62, 62, 245, 0.842);
}
h1{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
}
.dividir {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
}
.dividir2{
    background-color:  rgb(9,9,121);
    background: radial-gradient(circle, rgba(9,9,121,0.9556197478991597) 19%, rgba(0,212,255,0.6558998599439776) 72%);
    border-radius:30px;
    height: 90%;
}
.centrar{
    display: flex;
    justify-content: center;
}

#tijera-sola{
    display: flex;
    justify-content: center;
}
.imagenes img {
    width: 180px;
    height: 100%;
}
.campo-batalla{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.caja-batala{
    margin: 25px;
}

.text-mensajes{
    font-size: 45px;
}

.img-batalla{
    border-radius: 50%;
}

.btn-ataques{
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.btn-ataques:hover{
    border: 2px solid red;
    cursor: pointer;
    margin: 18px;
}