@media screen and (max-width: 768px){
    .dividir {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .imagenes {
        display: flex;
        width: 80vw;
        justify-content: center;
        align-items: center;
    }
    .imagenes img {
        width: 100px;
        height: 50%;
    }

    main{
        display: block;
        
    }

    .centrar{
        display: flex;
        align-items: center;
    }

    .text-mensajes{
        font-size: 25px;
    }

    .img-batalla{
        border-radius: 50%;
        width: 100px;
    }
}